* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  display: block;
  width: 100vw;
  height: 100%;
  overflow: scroll;
  /* width: 100vw;
  height: 100vh;
  background: linear-gradient(#2F302F, #EF4923); */
  background-color: white;
  text-align: center;
  font-weight: 300;
  /* font-size: 10px; */
  font-family: 'Overpass', monospace;
  color: darkgrey;


}

section.wrapper {
  text-align: justify;
  position: absolute;
  margin: 0;
padding: 15%;
  max-width: 100vw;
  display: block;
}

header{
  margin-bottom: 5%;
}

h1{
  font-size: 3rem;
  color: darkgrey;
  text-decoration:none;
}

a{
  text-decoration: none;
  color: #EF4923;
}

a:visited{
  color: black;
}

a:hover{
  color: #EF4923;
}



h2{
  font-size: 2rem;
    text-decoration: none;
    color: black;
}

li{
  text-decoration: none;
  list-style: none;
}

h3{
  font-size: 1.4rem;
  color: black;
}

p{
  font-size: .6rem;
}

section.content{
  position: relative;
  display: block;
  height: 100%;
  max-width: 100%;
  /* padding: 5rem; */
  margin: auto;
}

img{
  /* position: absolute; */
  margin: 0;
  display: block;
}

footer{
  /* display:block;
  font-size: .5rem;
  position:absolute;
  left:0;
  right:0;
  bottom: 0;
  padding: 10%;
  text-align: center;
  width: 100vw;
  margin: auto; */

  position: relative;
 bottom: 0;
 width: 100%;

  /* padding: 10%; */
}
