* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(#2F302F, #EF4923);
  text-align: center;
  color: navy;
  display: block;
  font-family: 'Overpass', monospace;
  font-weight: 300;
  margin: 0;
  /* padding for border */
  padding: 2%;
  width: 100vw;
  height: 100vh;
}

section.wrapper {
  background: linear-gradient(#FFFFFF, #FFF3ED);
  width: 100%;
  height: 100%;
  margin: 0;
  padding-bottom: 0;
  display: flex;
  align-self: center;
  justify-content: center;
}

/* LINK STYLING FOR H1 */
a, h1 :before {
  color: black;
}

a, h1 :visited {
  color: black;
}

a h1:hover {
  color: #FD5F00;
}

a:hover {
  color: #FD5F00;
}

/* no underlines! */
a {
  text-decoration: none;
}

/* VERTICAL NAVIGATION */
.verticaltext {
  position: fixed;
  bottom: 5%;
  /* width: 50%; */
  color: lightgrey;
  /* margin: auto; */
  font-family: 'Overpass Mono', monospace;
  font-size: 1rem;
  font-weight: 600;
  /* flexbox for vertical styling purposes */
  /* display: flex;
  transform: rotate(90deg);
  flex-direction:row;
  left: 70%;
  top: 45%;
  justify-content: space-between; */
  z-index: 3;
}

li {
  list-style-type: none;
  font-size: 1rem;
}

nav {
  position: fixed;
  bottom: 0;
  margin: 5%;
  display: flex;
  justify-content: space-between;
}

nav ul li.about {
  position: fixed;
  left: 0;
  bottom: 0;
}
/* nav ul li.contact {
  position: fixed;
  right: 0;
} */
h2 {
  padding-right: 90%;
}

h1 {
  position: relative;
  left: 0;
  top: 0;
  /* text-align: center; */
  font-family: 'Overpass Mono', monospace;
  font-weight: 600;
  font-size: 1.2rem;
  color: #000000;
  z-index: 5;
  overflow: auto;
  text-decoration: none;
  /* mix-blend-mode: difference; */
}

header {
  margin: 10%;
}

/* PROJECTS */
section .projects {
  width: 94%;
  position: absolute;
  top: 20%;
}

.projects {
  /* background-color: white; */
  /* min-height: 60vh;
  min-width: 100vw; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top: 15%; */
}

.projects a:link {
  text-decoration: none;
}

.projectBox {
  text-align: center;
  overflow: visible;
  vertical-align: middle;
  height: 22vh;
  width: 22vh;
  display: block;
  padding: 2em;
}

.projectBox h2 {
  color: white;
  font-family: 'Roboto Mono', sans-serif;
  font-size: .7em;
  font-weight: 100;
  font-style: italic;
  margin: auto;
}

#des116final {
  background-color: gold;
  background-image: url('images/deedaise-cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

#des154final {
  /* background: linear-gradient(#fffa00, #aa00ee); */
  background-color: grey;
}

#des157final {
  background-color: darkgrey;
}

#specWork {
  background-color: grey;
}

/* ZOOM ON HOVER */
.zoom:hover {
  transform: scale(1.05);
  z-index: 3;
  box-shadow: 5px 5px 30px darkgrey;
  transition: all 200ms ease-in;
}

/* ANOTHER HOVER FOR THE INNER SHADOW */
.projectBox:hover {
  box-shadow: inset 0px 0px 500px white;
  transition: all 200ms ease-in;
}

.projectBox:hover h2 {
  color: black;
  /* DESELECT H2 BECAUSE THE TEXT LINE FILLS WITH BOX SHADOW */
  box-shadow: inset 0px 0px 0px white;
}

/* MORE PROJECTS */
/* .footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  min-width: 100vw;
  background-color: white;
  margin-bottom: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 0px;
}

.footerTxt {
  margin: 2em;
  color: darkgrey;
  font-size: .7em;
  text-align: center;
}

.footerIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  font-size: .7em;
}

.iconWithCaption {
  padding-left: 7px;
  padding-right: 7px;
} */
/* FONT AWESOME ICONS */
/* .fa {
  padding-right: 1.5em;
  padding-left: 1.5em;
  padding-bottom: .5em;
} */
/* FOR DESKTOP */
@media (min-width: 769px) {
  body {
    background: linear-gradient(#2F302F, #EF4923);
    text-align: center;
    color: navy;
    display: block;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 1%;
    width: 100vw;
    height: 100vh;
  }

  section.wrapper {
    background: linear-gradient(#000000, #2F302F);
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-self: center;
    justify-content: center;
  }

  h1 {
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5%;
  }

nav ul{
 font-family: 'Overpass Mono', monospace;
 font-weight: 400;
 display: inline;
}
  /* LINK STYLING FOR H1 */
  a, h1 :before {
    color: white;
  }

  a, h1 :visited {
    color: white;
  }

  a h1:hover {
    color: #FD5F00;
  }

  a:hover {
    color: #FD5F00;
  }

  .projectBox {
    text-align: center;
    overflow: visible;
    vertical-align: middle;
    height: 20vw;
    width: 20vw;
    display: block;
    padding: 3em;
  }

  .projectBox:first-child {
    text-align: center;
  }

  /* nav {
    position: absolute;
    transform: rotate(-90deg);
  } */
}
