* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: block;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#2F302F, #EF4923);
  text-align: center;
  font-weight: 300;
  font-family: 'Overpass', monospace;
  color: black;
  margin: 0;
  padding: 1%;
  /* 1% padding for border */
  overflow-x: scroll;
}

section.wrapper {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(#FFFFFF, #FFF3ED);
  margin: 0;
  padding-bottom: 0;
  overflow-x: scroll;
}

/* LINK STYLING FOR H1 */
a, h1 :before {
  color: black;
}

a, h1 :visited {
  color: black;
}

a h1:hover {
  color: #FD5F00;
}

a:hover {
  color: #FD5F00;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  /* padding: 10vmin; */
  margin: auto;
  /* outline: 1px solid blue; */
  height: 12.5%;
  line-height: 10vh;
  z-index: 6;
  top: 5vh;

}

h1 {
  left: 50%;
  top: 12vh;
  text-align: center;
  font-family: 'Overpass Mono', monospace;
  font-weight: 600;
  font-size: 1.2rem;
  color: #000000;
  z-index: 6;
  overflow: auto;
  text-decoration: none;
}

/* VERTICAL NAVIGATION */
nav {
  position: fixed;
  width: 100%;
  top: 15vh;
  color: lightgrey;
  font-family: 'Overpass Mono', monospace;
  font-size: 1rem;
  font-weight: 600;
  z-index: 5;
  mix-blend-mode: multiply;
  /* outline: 1px solid green; */
  line-height: 10vh;
text-decoration: underline;

}

ul {
  display: flex;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 0;
}

li {
  list-style-type: none;
  font-size: 1rem;
  text-align: justify;
}

h2 {
  font-size: 5vmin;
}


/* ABOUT */
section.headline {
  width: 96vw;
  height: 96vh;
  color: #555555;
  padding: 15%;
  font-family: "Overpass", sans-serif;
  font-weight: 100;
  text-align: left;

}

.blogtitle{
  text-align: center;
}

.textcontent{
  display: block;
}

img#headshot {
  margin-top: 25%;

  /* align-self: start; */
}


section#inspo {
  display: none;
}

p{
  text-align: left;
  font-size: 3vmin;
  color: darkgrey;
  font-family: 'Overpass Mono', monospace;
}

/* FOR DESKTOP */
@media (min-width: 769px) {
  body {
    /* background: linear-gradient(#2F302F, #EF4923); */
    text-align: center;
    color: darkgrey;
    display: block;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: .5%;
    width: 100vw;
    min-height: 100vh;
  }

  section.wrapper {
    /* background: linear-gradient(#000000, #2F302F); */
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-self: center;
    justify-content: center;
 position: relative;
  }

  h1 {
    font-size: 2vmax;
    color: #555555;
  }

  h2 {
    font-size: 1vmax;
  }

  h3{
    font-size: 1vmax;
  }

  header {
    position: absolute;
    top: 10vmin;
    overflow:visible;
  }

  section.headline{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
  }

  section.about{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 25%;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    justify-content: center;
  }

  section.textcontent{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 15%;
    padding-top: 25%;
  }

  section.sidetext{
    margin-left: 10%;
  }

img#headshot{
  margin: 0;
  margin-top: 5%;
}

section.imgbox{
  display: inline-block;
margin-top:10%;
  margin-bottom: 15%;
  top: 50vh;
}

img.imgcontent{
  width: 500px;
  display: inline-block;
  position: relative;
  image-orientation: from-image;
}

p{
    /* margin-left: 5%; */
    justify-content: center;
    color: #555555;
}


  /* LINK STYLING FOR H1 */
  a, h1 :before {
    color: black;
  }

  a, h1 :visited {
    color: black;
  }

  a h1:hover {
    color: #FD5F00;
  }

  a:hover {
    color: #FD5F00;
  }



  nav {
    position: absolute;
    width: 50%;
    top: 20vmin;
    color: lightgrey;
    font-family: 'Overpass Mono', monospace;
    font-size: 1rem;
    font-weight: 600;
    z-index: 5;
    mix-blend-mode: multiply;
    /* outline: 1px solid green; */
    line-height: 10vh;
  }

  iframe{
    border: 0;
width: 300px;
height: 300px;
  }
}
