* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: block;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#2F302F, #EF4923);
  text-align: center;
  font-weight: 300;
  font-family: 'Overpass', monospace;
  color: navy;
  margin: 0;
  padding: 1%;
  /* 1% padding for border */
}

section.wrapper {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(#FFFFFF, #FFF3ED);
  margin: 0;
  padding-bottom: 0;
  overflow-x: scroll;
}

/* LINK STYLING FOR H1 */
a, h1 :before {
  color: black;
}

a, h1 :visited {
  color: black;
}

a h1:hover {
  color: #FD5F00;
}

a:hover {
  color: #FD5F00;
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  /* padding: 10vmin; */
  margin: auto;
  /* outline: 1px solid blue; */
  height: 12.5%;
  line-height: 10vh;
  z-index: 6;

}

h1 {
  left: 50%;
  top: 0;
  text-align: center;
  font-family: 'Overpass Mono', monospace;
  font-weight: 600;
  font-size: 1.2rem;
  color: #000000;
  z-index: 6;
  overflow: auto;
  text-decoration: none;
}

/* VERTICAL NAVIGATION */
nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  color: lightgrey;
  font-family: 'Overpass Mono', monospace;
  font-size: 1rem;
  font-weight: 600;
  z-index: 5;
  mix-blend-mode: multiply;
  /* outline: 1px solid green; */
  line-height: 10vh;

}

ul {
  display: flex;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 0;
}

li {
  list-style-type: none;
  font-size: 1rem;
  text-align: justify;
}

h2 {
  font-size: 5vmin;
}

/* PROJECTS */
section.projects {

  height: 75%;
  width: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  align-content: center;
  display: flex;
  overflow: scroll;
  flex-direction: column;
  /* justify-content: center; */
  /* margin-top: 24vmin; */
  padding-bottom: 24vmin;
  z-index: 4;
}

/* @keyframes scroll {
    95% { top: -100%; }
    100% { top:0; }
} */
section.projects {
  padding-top: 24vmin;
}

.projects a:link {
  text-decoration: none;
}

.projectBox {
  display: flex;
  align-content: center;
  text-align: center;
  overflow: visible;
  margin: 6vmin;
  height: 75vmin;
  width: 75vmin;
  display: block;
  /* padding: 2em; */
  box-shadow: 0px 0px 20vw rgba(0, 0, 0, 0.3);
  ;
}

.projectBox h2 {
  /* transform: skew(5deg, -5deg); */
  color: white;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 3vmin;
  font-weight: 100;
  font-style: italic;
  margin: auto;
  padding-top: 25%;
  z-index: 2;
}

#deedaise {
  /* background-color: gold; */
  background-image: url('projects/deedaise/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

#missionpermission {
  /* background: linear-gradient(#fffa00, #aa00ee); */
  /* background-color: grey; */
  background-image: url('projects/missionpermission/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

#inztangrat {
  /* background-color: lightgrey; */
  background-image: url('projects/inztangrat/cover.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.projectBox:hover h2 {
  font-size: 2vmax;
  color: #FD5F00;
  transition: font-size .4s;
  /* DESELECT H2 BECAUSE THE TEXT LINE FILLS WITH BOX SHADOW */
  /* box-shadow: inset 0px 0px 0px white; */
}

/* ZOOM ON HOVER */
.zoom:hover {
  transform: scale(1.05);
  z-index: 3;
  /* box-shadow: 0px 9px 300px darkgrey; */
  transition: transform .5s;
}

/* ANOTHER HOVER FOR THE INNER SHADOW */
.projectBox:hover {
  /* box-shadow: inset 0px 0px 500px white; */
  /* transition: all 2s ease-in; */
  background: antiquewhite;
  transform: scale(1.05);
  transition: transform .5s ease-out, background .5s;
}

/* ABOUT */
section#about {
  background-color: inherit;
  z-index: 4;
  position: fixed;
  background: linear-gradient(#FFFFFF, #FFF3ED);
  display: none;
}

div.about {
  width: 96vw;
  height: 96vh;
  color: darkgrey;
  padding: 15%;
  font-family: "Overpass", sans-serif;
  font-weight: 100;
}

img#headshot {
  margin: 5%;
  margin-top: 15%;
}

section#inspo {
  display: none;
}

/* FOR DESKTOP */
@media (min-width: 769px) {
  body {
    /* background: linear-gradient(#2F302F, #EF4923); */
    text-align: center;
    color: navy;
    display: block;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: .5%;
    width: 100vw;
    height: 100vh;
  }

  section.wrapper {
    /* background: linear-gradient(#000000, #2F302F); */
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-self: center;
    justify-content: center;
  }

  h1 {
    font-size: 2vmax;
    color: black;
  }

  h2 {
    font-size: 1vmax;
  }

  header {
    position: absolute;
    top: 10vmin;
    overflow:visible;
  }

  /* LINK STYLING FOR H1 */
  a, h1 :before {
    color: black;
  }

  a, h1 :visited {
    color: black;
  }

  a h1:hover {
    color: #FD5F00;
  }

  a:hover {
    color: #FD5F00;
  }

  section.projects {
    display: flex;
    overflow: visible;
    flex-direction: row;
    position: relative;
    margin: auto;
    padding: 100px;
    vertical-align: middle;
    justify-content: center;
    /* transform: skew(0deg, 0deg); */
  }

  /* .projects {
    transform: skew(0deg, -5deg);
  } */
  .projectBox {
    text-align: center;
    overflow: visible;
    vertical-align: middle;
    height: 17vmax;
    width: 17vmax;
    display: block;
    padding: 3em;
  }

  .projectBox h2 {
    color: white;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 3vmin;
    font-weight: 100;
    font-style: italic;
    margin: auto;
    padding-top: 25%;
    z-index: 2;
    /* transform: skew(0deg, 0deg); */
  }

  nav {
    position: fixed;
    width: 100%;
    bottom: 10vmin;
    color: lightgrey;
    font-family: 'Overpass Mono', monospace;
    font-size: 1rem;
    font-weight: 600;
    z-index: 5;
    mix-blend-mode: multiply;
    /* outline: 1px solid green; */
    line-height: 10vh;

  }
}
